[Unit]
Description=Run ifplugd for automatic eth1 configuration

[Service]
ExecStart = /usr/bin/ifplugd -fInM -i wlan0
Restart = always


[Install]
WantedBy=multi-user.target
